<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            $if(title_strong)$
                $title_strong$ $title$
            $else$
                $title$
            $endif$
        </title>
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, print" />
        <link rel="stylesheet" href="/js/styles/atom-one-dark-reasonable.css"/>
        <link rel="icon" href="/images/favicon.png">
    </head>
    <body>
        <!-- Header -->
            <header id="header">
                <nav class="nav mobile">
                    <a href="#menu">Menu</a>
                </nav>

                <nav class="nav desktop">
                    <ul class="actions">
                        <li><a href="/index.html" class="scrolly">Home</a></li>
                        <li><a href="/about.html" class="scrolly">About</a></li>
                        <li><a href="/teaching.html" class="scrolly">Teaching</a></li>
                        <li><a href="/research.html" class="scrolly">Research</a></li>
                        <li><a href="/development.html" class="scrolly">Development</a></li>
                        <li><a href="/blog.html" class="scrolly">Blog</a></li>
                    </ul>
                </nav>
                <div class="logo">
                $if(title_strong)$
                <strong>
                    $title_strong$ 
                </strong>
                <img src="/images/favicon.png" style="height: 1em; position: relative; top: 3px;" />
                $title$
                $else$
                <strong>
                    $if(webtitle)$
                        $webtitle$ 
                    $else$
                        $title$ 
                    $endif$
                </strong>
                <img src="/images/favicon.png" style="height: 1em; position: relative; top: 3px;" />
                space
                $endif$
                </div>
            </header>

        <!-- Nav  -->
        <nav id="menu">
            <ul class="links">
                <li><a href="/index.html" class="scrolly">Home</a></li>
                <li><a href="/about.html" class="scrolly">About</a></li>
                <li><a href="/teaching.html" class="scrolly">Teaching</a></li>
                <li><a href="/research.html" class="scrolly">Research</a></li>
                <li><a href="/development.html" class="scrolly">Development</a></li>
                <li><a href="/blog.html" class="scrolly">Blog</a></li>
            </ul>
        </nav>

        <!-- Banner -->
        $if(banner)$
            <section id="banner">
                <div class="inner">
                    $if(banner_intro)$
                        $banner_intro$
                    $endif$
                    <h1>
                        <a href="https://behaviour.space" style="text-decoration:none">
                            $banner$
                        </a>
                    </h1>

                </div>
            </section>
        $endif$

        $if(image)$
        <article id="$title$" class="post style1">
            <div class="content">
                <div class="inner">
                    $body$
                </div>
            </div>
            <div class="image">
                <img src="$image$">
            </div>
        </article>
        $else$
        <!-- Main -->
        <section id="main">
            <div class="inner">
                $body$
            </div>
        </section>
        $endif$

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="https://twitter.com/pIakoIb" style="text-decoration: none" class="fab fa-twitter fa-2x"></a></li>
                <li><a href="https://www.researchgate.net/profile/Simon_Plakolb" style="text-decoration: none" class="fab fa-researchgate fa-2x"></a></li>
                <li><a href="https://github.com/pinselimo" style="text-decoration: none" class="fab fa-github fa-2x"></a></li>
            </ul>
            <div class="copyright">
                <i class="fas fa-phone-alt"> +43 (0)316 380 - 7347</i><br>
                <i class="fas fa-envelope"> simon (dot) plakolb (at) uni (minus) graz (dot) at</i><br>
                <i class="fas fa-map-marker-alt"> Merangasse 18, A-8010 Graz</i><br>

                &copy; Simon Plakolb. License: <a href="http://creativecommons.org/licenses/by/3.0">CC-BY</a>. Template: <a href="https://templated.co">TEMPLATED</a>.
                Site proudly generated by
                <a href="http://jaspervdj.be/hakyll">HAKYLL</a>.
            </div>
        </footer>

        <!-- Scripts -->
        <script src="/js/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
